# environment
.env
.venv/
__pycache__/
*.py[cod]

# source text: copyrighted by the banks, never in a public repository
data/


# notebooks
.ipynb_checkpoints/

# editors and OS
.idea/
.vscode/
.DS_Store
