# environment
.env
.venv/
__pycache__/
*.py[cod]

# source text: copyrighted by the banks, never in a public repository
data/


# notebooks
.ipynb_checkpoints/

# editors and OS
.idea/
.vscode/
.DS_Store
notebooks/john/PROJECT_JOURNL.md
notebooks/angelo/System one/Claude Code and Claude Agent SDK with AI Gateway.md
notebooks/angelo/System one/Dashboard.md
notebooks/angelo/System one/Laya.md
notebooks/angelo/System one/Vercel AI Gateway Models, Routing, and Observability.md
